--extra-index-url=https://pypi.nvidia.com

# debug
ipykernel
ipywidgets
protobuf
pyyaml

# utility
tqdm
kaggle
black
urllib3==1.26.16

# data analysis
numpy
pandas
# cudf-cu12
matplotlib
seaborn
mlflow

# deeplearning
torch
pytorch-lightning
transformers
tensorflow
tensorflow-probability
tensorflow-addons
onnx
onnxruntime
onnx_simplifier
onnx-tf
onnx2json
optuna
albumentations
lightly

# table
lightgbm

# image
opencv-python
timm
torchvision

# audio
librosa
torchaudio

# text
levenshtein
